@model PQGD.Models.GiaoVien

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GiaoVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.takhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.takhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.matkhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.matkhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.admin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_giaovien" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
