@model IEnumerable<PQGD.Models.GiaoVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gioitinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ngaysinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.takhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.matkhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.takhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_giaovien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_giaovien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_giaovien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
